*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(198, 233, 193);
}
.card{
    position: relative;
    top: 30px;
    left: 350px;

    /* text-align: center; */
    width: 350px;
    border:2px dashed rgb(126, 123, 123);
    padding: 2px 2px 2px 8px;

}
.card2{
    position: relative;
    top: 60px;
    left: 350px;
    background-color: aliceblue;

    /* text-align: center; */
    width: 350px;
    border:2px dashed rgb(126, 123, 123);
    padding: 2px 2px 2px 8px;
}
.title{
    text-align: center;
}
.content{
    align-items: center;
    text-align: center;
}
.profile-label{
 cursor: pointer;
 border-radius: 50%;   
}
.profile-label:hover{
    display: none;
}